<?xml version="1.0"?>
<model>
  <name>pallet_jack</name>
  <version>1.0</version>
  <sdf version='1.4'>pallet_jack.sdf</sdf>

  <author>
   <name>Emiliano Gagliardi</name>
   <email>emiliano.gagliardi@mail.polimi.it</email>
  </author>

  <author>
    <name>Emanuele Ghelfi</name>
    <email>emanuele.ghelfi@mail.polimi.it</email>
  </author>

  <description>
    A robot
  </description>
</model>
